@media(max-width:1105px) {
  .wrapper {
    max-width: 1105px;
  }

  .info__left {
    padding: 98px 0 186px 0;
    max-width: 600px;
  }

  .courses__inner {
    justify-content: space-evenly;
  }
}

@media(max-width:1015px) {
  .wrapper {
    max-width: 1015px;
  }

  .info__left {
    max-width: 480px;
  }
}

@media(max-width:900px) {
  .wrapper {
    max-width: 900px;
  }

  .header__btn,
  .footer__btn {
    width: 150px;
    height: 60px;
  }

  .info__left {
    max-width: 500px;
    padding: 85px 50px 0 0;
  }
  
  .left__title {
    width: 360px;
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .left__btn {
    width: 150px;
    height: 60px;
  }

  .right__inner {
    width: 260px;
  }
  
  .right__line {
    height: 507px;
    margin-bottom: 180px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .right_girl {
    width: 260px;
    height: 382.53px;
    background-size:contain;
    background-repeat: no-repeat;
  }

  .card-left {
    width: 155px;
    bottom: 140px;
    left: -45px;
  }

  .card-right {
    width: 105px;
    right: -20px;
    top: -14px;
  }
}

@media(max-width:768px) {
  .body {
    font-size: 16px;
    line-height: 26px;
  }

  .wrapper {
    max-width: 768px;
  }

  .container {
    max-width: 688px;
    padding: 0;
  }

  .header {
    height: 122px;
    padding: 24px 0 50px;
  }

  .header__btn,
  .footer__btn {
    width: 140px;
    height: 48px;
  }
  
  .info__left {
    padding: 98px 0 186px 0;
  }

  .left__title {
    width: 326px;
    height: 101px;
    font-size: 40px;
    line-height: 50px;
  }

  .left__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 398px;
    margin-right: 33px;
    margin-bottom: 24px;
  }

  .left__btn {
    height: 56px;
  }

  .right__inner {
    width: 216.54px;
    height: 382.53px;
  }

  .right__line {
    height: 504,3px;
    background-position: bottom 0 left 0;
    margin-bottom: 4px;
  }

  .right_girl {
    width: 216.54px;
    height: 382.53px;
  }

  .right__cards {
    padding: 16px 20px 16px;
    height: 100px;
  }

  .card-left {
    width: 155px;
    bottom: -37px;
    left: -45px;
  }

  .cards__title {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .carsd__quant {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  .card-right {
    width: 105px;
    right: -51px;
    top: -14px;
  }

  .courses {
    padding-bottom: 30px;
  }

  .courses__card {
    width: 339px;
    height: 259px;
    margin-bottom: 56px;
    padding: 56px 22px 32px;
  }

  .first-card__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }

  .card__inner {
    min-height: 171px;
  }

  .card__title {
    font-size: 20px;
    line-height: 25px;
  }

  .card__text {
    margin-bottom: 24px;
  }

  .card__btn {
    font-size: 18px;
    line-height: 28px;
  }

  .footer {
    padding: 36px 40px;
  }
}

@media(max-width:700px) {
  .wrapper {
    max-width: 700px;
  }

  .container {
    padding: 0;
  }

  .info {
    height: 500px;
  }

  .info__left {
    width: 320px;
    margin-bottom: 0;
  }

  .left__title {
    max-width: 320px;
  }

  .left__text {
    padding-top: 30px;
  }
}

@media(max-width:375px) {
  .wrapper {
    max-width: 375px;
  }

  .container {
    max-width: 343px;
  }

  .header {
    height: 102px;
    padding: 16px 0 38px;
  }

  .info {
    margin-bottom: 66px;
    height: 664px;
  }

  .info__inner {
    display: block;
  }

  .info__left {
    padding: 0 0 70px 0;
  }

  .left__title {
    margin-bottom: 26px;
  }

  .left__text {
    margin-bottom: 24px;
  }

  .right__inner {
    width: 253px;
    height: 253px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  .right__line {
    display: none;
  }

  .right_girl {
    width: 253px;
    height: 253px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 238px, 253px;
    background-image: url(../images/girl.png), url(../images/bg_girl.png);
    background-position: top -36.6px left 20px, top 0 left 0;
  }

  .courses {
    padding-bottom: 40px;
  }

  .courses__card {
    width: 343px;
    margin-bottom: 40px;
    padding: 56px 28px 32px;
  }

  .first-card {
    width: 343px;
    height: 120px;
    padding: 24px 38px 32px;
  }

  .card__title {
    margin-bottom: 16px;
  }  
}